In [ ]:
import pandas as pd
import numpy as np

In [11]:
#Firstly Creating For Bigram

In [ ]:
dfbi = pd.read_csv(r"C:\\sahil\NLP\bigram_probabilities.csv")

In [4]:
dfbi.head()

        Bigram  Count   Add-One     Add-K    Token-Type
0  <sos> इनेलो    224  0.000180  0.000358  7.985740e-07
1   इनेलो 1987      1  0.000002  0.000002  7.984319e-07
2     1987 में    550  0.000440  0.000877  7.987819e-07
3       में उस   2830  0.000420  0.000463  8.002325e-07
4      उस वक्त   7558  0.005587  0.010402  8.032494e-07

In [9]:
dfbi.shape

(16583799, 5)

In [6]:
df=pd.read_csv(r"C:\Sahil\NLP\hindi_reconstructed_sentences2.csv")

In [7]:
df.head()

                              reconstructed_sentence
0  इनेलो  1987 में  उस  वक्त  ऐसे  ही  दोराहे  पर...
1  हालांकि  तब  पार्टी  पर  देवीलाल  की  मजबूत  प...
2  1989 में  देवीलाल  केन्द्र  की  राजनीति  में  ...
3  उन  परिस्थितियों  में  देवीलाल  ने  कड़ा  निर्...
4  उस  समय  रणजीत  की  नाराजगी  के  चलते  उनके  स...

In [8]:
df.shape

(10000000, 1)

In [12]:
# Fixing and saving The sample sentances So that we can Use it for all the models(unigram,bigram,trigram,quadgram)

In [10]:
sample_sentences = df.sample(n=1000, random_state=42).reset_index(drop=True)

In [30]:
sample_sentences.to_csv(r"C:\Sahil\NLP\sample.csv", index=False)

In [ ]:
print(sample_sentences)

                                reconstructed_sentence
0    उसे  तत्काल  ट्रेन  के  शौचालय  में  बंद  कर  ...
1    ऐसे  ही  एक  कार्यक्रम  का  एक  वीडियो  सोशल  ...
2    आरबीजीडी  की  टीम  ने  टास  जीत  कर  पहले  खेल...
3    इससे  आम  आदमी  की  गाढ़ी  कमाई  को  फर्जी  और ...
4    विधि  शिक्षा  एवं  विधि  सहायता  केन्द्र  सेंट...
..                                                 ...
995  पूर्व  निर्धारित  कार्यक्रम  के  तहत  शुक्रवार...
996  सद्गुरु  स्वामीगल  ने  देवभूमि  उत्तराखंड  को ...
997                                           टीकमगढ़ ।
998  यह  ध्यान  रखने  की  बात  है  कि  रेलवे  द्वार...
999  हिमपात  से  लेकर  रेतीली  आँधी  में  पानी  का ...

[1000 rows x 1 columns]

In [11]:
def get_bigrams(sentence):
    words = sentence.strip().split()
    words = ["<sos>"] + words + ["<eos>"]
    return [f"{words[i]} {words[i+1]}" for i in range(len(words)-1)]

In [12]:
add_one_dict = dict(zip(dfbi['Bigram'], dfbi['Add-One']))
add_k_dict = dict(zip(dfbi['Bigram'], dfbi['Add-K']))
token_type_dict = dict(zip(dfbi['Bigram'], dfbi['Token-Type']))

In [ ]:
def sentence_probability(sentence, prob_dict):
    bigrams = get_bigrams(sentence)
    log_prob = 0.0
    
    for bg in bigrams:
        if bg in prob_dict:
            log_prob += np.log(prob_dict[bg])
        else:
            log_prob += np.log(1e-12)
    return np.exp(log_prob)

In [16]:
results = []

for sent in sample_sentences['reconstructed_sentence']:
    p_add_one = sentence_probability(sent, add_one_dict)
    p_add_k = sentence_probability(sent, add_k_dict)
    p_token_type = sentence_probability(sent, token_type_dict)
    
    results.append([sent, p_add_one, p_add_k, p_token_type])

results_df = pd.DataFrame(results, columns=['Sentence', 'Add-One', 'Add-K', 'Token-Type'])

In [18]:
results_df

,Sentence,Add-One,Add-K,Token-Type
0,उसे तत्काल ट्रेन के शौचालय में बंद कर ...,5.108519e-73,3.743680e-68,4.756580e-146
1,ऐसे ही एक कार्यक्रम का एक वीडियो सोशल ...,5.896634e-30,4.154974e-27,8.973592e-91
2,आरबीजीडी की टीम ने टास जीत कर पहले खेल...,2.469219e-71,5.484179e-67,6.861254e-128
3,इससे आम आदमी की गाढ़ी कमाई को फर्जी और ...,1.530544e-61,7.968936e-58,3.853505e-121
4,विधि शिक्षा एवं विधि सहायता केन्द्र सेंट...,4.295161e-137,8.160860e-129,4.408617e-231
...,...,...,...,...
995,पूर्व निर्धारित कार्यक्रम के तहत शुक्रवार...,1.841549e-67,2.977064e-62,4.329510e-152
996,सद्गुरु स्वामीगल ने देवभूमि उत्तराखंड को ...,8.310328e-89,1.083985e-84,5.550315e-134
997,टीकमगढ़ ।,1.062419e-08,4.530683e-08,3.656954e-18
998,यह ध्यान रखने की बात है कि रेलवे द्वार...,2.684027e-58,1.589712e-54,5.259317e-121
999,हिमपात से लेकर रेतीली आँधी में पानी का ...,3.165170e-106,1.054497e-101,4.715470e-170

In [ ]:
results_df.to_csv(r"C:\Sahil\NLP\Bigram1000senProb.csv", index=False)

In [ ]:
dfquad=pd.read_csv(r"C:\\sahil\NLP\quadgram_probabilities.csv")

In [22]:
dfquad.head()

                  Quadgram  Count       Add-One         Add-K    Token-Type
0  <sos> <sos> <sos> इनेलो    224  3.763024e-06  7.509323e-06  1.672461e-08
1   <sos> <sos> इनेलो 1987      1  3.344898e-08  5.017328e-08  1.672455e-08
2     <sos> इनेलो 1987 में      1  3.344910e-08  5.017365e-08  1.672455e-08
3        इनेलो 1987 में उस      1  3.344910e-08  5.017365e-08  1.672455e-08
4         1987 में उस वक्त      2  5.017365e-08  8.362274e-08  1.672455e-08

In [2]:
def get_quadgrams(sentence):
    words = sentence.strip().split()
    words = ["<sos>", "<sos>", "<sos>"] + words + ["<eos>"]
    return [" ".join(words[i:i+4]) for i in range(len(words)-3)]

In [5]:
quad_add_one_dict = dict(zip(dfquad['Quadgram'], dfquad['Add-One']))

In [6]:

quad_add_k_dict = dict(zip(dfquad['Quadgram'], dfquad['Add-K']))

In [3]:
quad_token_type_dict = dict(zip(dfquad['Quadgram'], dfquad['Token-Type']))

In [27]:
del quad_token_type_dict

In [4]:
def quad_sentence_probability(sentence, prob_dict):
    quadgrams = get_quadgrams(sentence)
    log_prob = 0.0
    
    for qg in quadgrams:
        if qg in prob_dict:
            log_prob += np.log(prob_dict[qg])
        else:
            log_prob += np.log(1e-12)  
    
    return np.exp(log_prob)

In [10]:
quad_results = []
df_sample_sentences = pd.read_csv(r"C:\Sahil\NLP\sample.csv")
for sent in df_sample_sentences['reconstructed_sentence']:
    
    p_quad_token_type = quad_sentence_probability(sent, quad_token_type_dict)
    
    quad_results.append([p_quad_token_type])

quad_results_df = pd.DataFrame(quad_results, 
                               columns=["p_quad_token_type"])

In [11]:
quad_results_df.to_csv(r"C:\Sahil\NLP\quadgram1000senProb_OnemO.csv", index=False)

In [14]:
df_quad=pd.read_csv("C:\\Sahil\\NLP\\quadgram1000senProb_OnemO.csv")

In [21]:
df_quad_ff=pd.read_csv("C:\\Sahil\\NLP\\quadgram1000senProb.csv")

In [20]:
df_quad.head()

   p_quad_token_type
0      2.294140e-187
1      2.243516e-117
2      4.902851e-164
3      2.947975e-156
4      3.077245e-296

In [22]:
df_quad_ff.head()

,Sentence,Quad-Add-One,Quad-Add-K
0,उसे तत्काल ट्रेन के शौचालय में बंद कर ...,8.387939e-160,3.369631e-154
1,ऐसे ही एक कार्यक्रम का एक वीडियो सोशल ...,7.309070e-84,1.104585e-79
2,आरबीजीडी की टीम ने टास जीत कर पहले खेल...,3.055775e-142,6.488954e-137
3,इससे आम आदमी की गाढ़ी कमाई को फर्जी और ...,8.099319e-131,2.442193e-126
4,विधि शिक्षा एवं विधि सहायता केन्द्र सेंट...,4.390222e-253,1.739057e-244

In [ ]:
df_quad_ff["p_quad_token_type"] = df_quad["p_quad_token_type"].values

In [24]:
df_quad_ff.to_csv(r"C:\Sahil\NLP\quadgram1000senProb.csv", index=False)

In [28]:
df_uni=pd.read_csv(r"C:\\sahil\NLP\unigram_probabilities.csv")

In [29]:
df_uni.head()

    Word    Count   Add-One     Add-K    Token-Type
0  इनेलो      971  0.000005  0.000005  7.989484e-07
1   1987     1127  0.000006  0.000006  7.990478e-07
2    में  5487609  0.027267  0.027352  4.296193e-06
3     उस   100409  0.000499  0.000500  8.623313e-07
4   वक्त    35995  0.000179  0.000179  8.212731e-07

In [30]:
uni_add_one_dict = dict(zip(df_uni['Word'], df_uni['Add-One']))
uni_add_k_dict = dict(zip(df_uni['Word'], df_uni['Add-K']))
uni_token_type_dict = dict(zip(df_uni['Word'], df_uni['Token-Type']))

In [31]:
def unigram_sentence_probability(sentence, prob_dict):
    unigrams = sentence.split()   
    log_prob = 0.0

    for ug in unigrams:
        if ug in prob_dict:
            log_prob += np.log(prob_dict[ug])
        else:
            log_prob += np.log(1e-12)  

    return np.exp(log_prob)

In [35]:
uni_results = []
df_sample_sentences = pd.read_csv(r"C:\Sahil\NLP\sample.csv")
for sent in df_sample_sentences['reconstructed_sentence']:
    p_add_one = unigram_sentence_probability(sent, uni_add_one_dict)
    p_add_k = unigram_sentence_probability(sent, uni_add_k_dict)
    p_token_type = unigram_sentence_probability(sent, uni_token_type_dict)
    
    uni_results.append([sent, p_add_one, p_add_k, p_token_type])

uni_df = pd.DataFrame(uni_results, 
                               columns=['Sentence', 'Add-One', 'Add-K', 'Token-Type'])

In [36]:
uni_df.to_csv(r"C:\Sahil\NLP\unigram1000senProb.csv", index=False)

In [3]:
df_tri=pd.read_csv(r"C:\\sahil\NLP\trigram_probabilities.csv")

In [4]:
df_tri.head()

             Trigram  Count       Add-One         Add-K    Token-Type
0  <sos> <sos> इनेलो    224  1.356746e-05  2.707462e-05  6.030063e-08
1   <sos> इनेलो 1987      1  1.205980e-07  1.808946e-07  6.029982e-08
2     इनेलो 1987 में      1  1.205996e-07  1.808994e-07  6.029982e-08
3        1987 में उस      3  2.411913e-07  4.220707e-07  6.029983e-08
4        में उस वक्त    392  2.369378e-05  4.731920e-05  6.030124e-08

In [6]:
tri_add_one_dict = dict(zip(df_tri['Trigram'], df_tri['Add-One']))
tri_add_k_dict = dict(zip(df_tri['Trigram'], df_tri['Add-K']))
tri_token_type_dict = dict(zip(df_tri['Trigram'], df_tri['Token-Type']))

In [7]:
def trigram_sentence_probability(sentence, prob_dict):
    words = sentence.split()
   
    words = ["<sos>", "<sos>"] + words + ["<eos>"]

    trigrams = [tuple(words[i:i+3]) for i in range(len(words)-2)]
    
    log_prob = 0.0
    for tg in trigrams:
        if tg in prob_dict:
            log_prob += np.log(prob_dict[tg])
        else:
            log_prob += np.log(1e-12)  
    
    return np.exp(log_prob)

In [9]:
tri_results = []
df_sample_sentences = pd.read_csv(r"C:\Sahil\NLP\sample.csv")
for sent in df_sample_sentences['reconstructed_sentence']:
    p_add_one = trigram_sentence_probability(sent, tri_add_one_dict)
    p_add_k = trigram_sentence_probability(sent, tri_add_k_dict)
    p_token_type = trigram_sentence_probability(sent, tri_token_type_dict)
    
    tri_results.append([sent, p_add_one, p_add_k, p_token_type])

tri_df = pd.DataFrame(tri_results, 
                               columns=['Sentence', 'Add-One', 'Add-K', 'Token-Type'])

In [10]:
tri_df.to_csv(r"C:\Sahil\NLP\trigram1000senProb.csv", index=False)